@font-face{font-family: 'courgette';src:url('../fonts/Courgette-Regular.ttf')}
.fond-accueil{background:url('../images/coliseeRetouché.jpg');width: 100%;height: 1200px;background-size: cover;}
#menu{background-color: rgb(17, 7, 7);width: 100%;justify-content: center;}
.nav-link, #produits{color:white;font-size: 1.3em;font-weight: bold;font-family: 'courgette',Verdana, Tahoma, sans-serif;}
.nav-link:hover{color:white;}
#produits{margin-left: 5px;border-bottom: 2px solid white;}
.dropdown-item{font-size: 1.2em;font-weight: bold;font-family: 'courgette',Verdana, Tahoma, sans-serif;color:rgb(5, 5, 5);}
.nav-item,.nav-item-active{width: 220px;}
#item, #item1, #item2, #item3{margin-bottom: 5px;}
/********************************fin bar de navigation*****************************/
.menu, .menu2{background:url('../images/fondBrunRouge.jpg');margin-top: 5px;background-size: cover;}
.menu2{margin-top:0px}
/*.menu{background-image:  radial-gradient(rgb(185,146,105), rgb(209,173,138), rgb(245, 223, 197));}*/
.carte, .carte2{width: 100%;margin:auto;padding-bottom: 0px;}
.design{padding-top: 10px;}
.info{width:60% ;margin:auto;height: 50px;background-color: black;text-align: center;border-radius: 20px 20px 20px 20px;margin-bottom: 5px;}
.info h1{color:white;font-size: 1em;padding-top: 10px;}
.trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-bottom: 5px;}
.infoFromage p{color:rgb(242, 204, 19);margin-top: 5px;text-align: center;}
.titre img{margin-top: 10px;border-radius: 20px;}
.bouton-appel{text-align: center;width: 40%;margin:auto;}
.bouton-appel p{color:white; border:3px solid white;padding:5px;}
.bouton-appel:hover{background-color: white;}
.bouton-appel p:hover{color:black;text-decoration: none;font-weight: bold;}
/************classique blockDuo***********************/
.blockTitre-duo{color:white; margin-top: 50px;font-weight: bold;padding-top: 10px;text-align: center;}
.block-duo{background-color: rgb(17, 7, 7);border-radius: 20px;width: 60%;margin:auto;display:flex;flex-direction: row;justify-content: space-around;}
.blockligneDuo{display: flex;flex-direction: column;width: 100%;}
.sliderDuo{width: 50%;}
.sliderDuo img{border-radius: 10px;}
.sliderDuo p{color:white;text-align: center;}
/*****************classique block message défilant***************/
.bandeau{padding-top: 5px;padding-bottom: 5px;background-color: black;}
#message{margin-top: 0px;}
.message{max-width: 50em;margin: 1em auto 1em;border: 10px solid #d3d3dd;overflow: hidden;box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;}
.message > :first-child{display: inline-block;color:white;font-weight: bold;padding-right: 2em;padding-left: 100%;white-space: nowrap;
    animation: defilement 20s infinite linear;animation-name: defilement;animation-delay: 2s;animation-iteration-count: infinite;animation-timing-function: linear;
}
@keyframes defilement {
    0%{transform: translate3d(0, 0, 0);}
    100%{transform: translate3d(-100%, 0, 0);}
}
/******************* video terrasse ******/
#terrasse{text-align: center;margin-top: 5px;background-color: black;}
.video{width: 90%;background-size: cover;}

/****************carte taille et prix***************/
.tailles{display:flex;flex-direction: row;justify-content: flex-end;}
.ligneTitre, .ligneTexte{display: flex;flex-direction: row;width: 100%;}
.taille1, .taille2{color:white;width: 30%;font-weight: bold;font-style: italic;text-align: center;}
.nom{color:rgb(242, 204, 19);width: 50%;font-weight: bold;padding-top: 10px;}

.libelle{color:white;margin-left: 20px;width: 50%;font-weight: bold;}
.prix1{color:rgb(242, 204, 19);width: 40%;font-weight: bold;text-align:center;padding-top: 10px;font-size: 1.5em;}
.prix2{color:rgb(242, 204, 19);width:40%;font-weight: bold;text-align: center;padding-top: 10px;font-size: 1.5em;}
/*************autres page duo sans slider********************/
.ligneTitre-duo{color:white;font-weight: bold;padding-top: 10px;text-align: center;}
.titre-duo{background-color: rgb(17, 7, 7);border-radius: 20px;width: 40%;margin:auto;display:flex;flex-direction: row;justify-content: space-around;}
.ligneDuo{display: flex;flex-direction: column;width: 100%;}
.imageDuo img{border-radius: 10px;}
.libelle2{color:white;width: 100%;font-weight: bold;text-align: center;}
.prix3{color:white;;width: 100%;font-weight: bold;text-align:center;}
.prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}


#bouton, #bouton2{height: 100px;}
.ascenseur p{width: 100px;height: 100px;border:3px solid white;border-radius: 50%;margin-left: 85%;font-size: 3.5em;color:white;text-align: center;}
#bouton a:hover, #bouton2 a:hover{text-decoration: none;}
/******************************fin du corps********************************/
.banniere{height: 290px;margin-top:10px;background-color:rgb(17, 7, 7);}
.footer{height: 290px;display: flex;flex-direction: row;align-items: center;justify-content: center;}
.img-footer{height: 200px;}
.img-footer img{height: 200px;}
.text-footer{padding-left: 20px;}
.text-footer p{color:white}
.entité{margin-top: 30px;}
.mentions p{color:white; padding:5px;border:3px solid white;text-align: center;}.entité a:hover{text-decoration: none;}
.icone-reseau{display:flex;flex-direction: row;height: 70px;}
.facebook{margin-right: 30px;}
/******************************fin footer*********************************/
/***********responsive****************/
@media all and (min-device-width:270px) and (max-width:414px){
    .fond-accueil{background:url('../images/colisee348x320.jpg');width: 100%;background-size: cover;}
    .titre-duo{width: 100%;flex-direction: column;}
    .block-duo{width: 100%;background-color: rgb(17, 7, 7);border-radius: 20px;width: 100%;margin:auto;display:flex;flex-direction:column;}
    .sliderDuo{width: 100%;}
    .blockTitre-duo{margin-top:0px;}
    .banniere{height: 400px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 400px;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 10px;}
}
@media all and (min-device-width:270px) and (max-width:321px){
    .fond-accueil{height: 320px;}
    .navbar-toggler img{width: 60px;}
      /*****************corps*********************/
    .menu2{margin:0px;}
    .trait{background-color:black;width: 80%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:80% ;margin:auto;height: 120px;}
    .info h1{padding-top: 20px;}
    .titre{text-align: center;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 250px;}
    .bouton-appel{text-align: center;width: 60%;margin:auto;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    .libelle{margin-left: 0px;}
    .prix1{width: 25%;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .imageDuo img{border-radius: 10px;width: 100%;background-size: cover;}
    .libelle2{margin:0px;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 100%;}
    .taille1, .taille2{font-size: 1em;}
    .taille1, .taille2{color:white;width: 30%;}
    .taille2{margin-left: 5px;text-align: right;}
    .ligneTitre{margin:0px;width:100%;flex-direction: row;}
    .ligneTexte{margin:0px;width: 230px;}
    .nom{color:rgb(242, 204, 19);width: 80%;font-weight: bold;padding-top: 10px;}
    .nom h2{font-size: 1em;}
    .prix1, .prix2{font-size: 1em;width: 50%;}
    .ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;}
    .ascenseur{padding-bottom: 5px;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 175px}*/
    .video{width: 100%;background-size: cover;}
    /**************footer***************/
    .banniere{height: 400px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 400px;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer{height: 150px;}
    .img-footer img{width: 200px;height: 150px;padding-top: 30px;}
    .image-medieval{padding-top: 50px;}
}
@media all and ( min-device-width:321px) and (max-width:322px){
    .titre{width: 280px;}
    .taille1, .taille2{color:white;width: 30%;}
   
    .video{width: 100%;background-size: cover;}
}
@media all and (min-width:360px) and (max-width:375px){
    .fond-accueil{height: 320px;}
    .navbar-toggler img{width: 80px;}
      /*****************corps*********************/
    .menu{margin-top: 5px;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:80% ;margin:auto;height: 110px;}
    .info h1{padding-top: 20px;}
    .titre{text-align: center;width: 280px;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 280px;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 185px}*/
    .video{width: 100%;background-size: cover;}
    .bandeau{background-color: black;padding-top: 2px;padding-bottom: 2px;}
    .image{width: 300px;}
    .ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;}
    .ascenseur{padding-bottom: 5px;}
    .libelle{margin-left: 0px;}
    .prix1{width: 25%;}
    .prix2{width: 25%;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .imageDuo img{border-radius: 10px;width: 100%;background-size: cover;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 280px;}
    .taille2, .taille1{margin-left: 5px;text-align: right;font-size: 1em;}
    .ligneTitre{margin:0px;width:280px;flex-direction: row;}
    .ligneTexte{margin:0px;width: 280px;}
    .nom h2{font-size: 1.2em;}
    .prix1, .prix2{font-size: 1em;}
    /*****************footer*********************/
    .banniere{height: 420px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 400px;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer{height: 150px;}
    .img-footer img{width: 210px;height: 150px;padding-top: 30px;}
}
@media all and (min-width:376px) and (max-width:414px){
    .fond-accueil{height: 380px;}
    .navbar-toggler img{width: 80px;}
    #navbarContent{width: 100%;background-color: rgb(17, 7, 7);}
    .ligneTitre{margin:0px;width:230px;flex-direction: row;}
    .menu{margin-top: 5px;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:80% ;margin:auto;height: 90px;}
    .info h1{padding-top: 20px;}
    .imageDuo img{border-radius: 10px;width: 100%;background-size: cover;}
    .titre{text-align: center;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 260px;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 205px}*/
    .video{width: 100%;background-size: cover;}
    .image{width: 325px;}
    .ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;}
    .ascenseur{padding-bottom: 5px;}
    .libelle{margin-left: 0px;}
    .prix1{width: 25%;}
    .prix2{width: 25%;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 320px;}
    .taille2, .taille1{margin-left: 5px;text-align: right;font-size: 1em;}
    .ligneTitre{margin:0px;width:320px;flex-direction: row;}
    .ligneTexte{margin:0px;width: 320px;}
    .nom h2{font-size: 1.2em;}
    .prix1, .prix2{font-size: 1em;}
    .banniere{height: 420px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 400px;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 210px;height: 150px;padding-top: 30px;}
}
/*@media all and (min-width:416px) and (max-width:826px){
    .fond-accueil{background:url('../images/colisee4-562x380.jpg');width: 100%;background-size: cover;}
    .titre-duo{width: 100%;flex-direction: column;}
    .block-duo{width: 100%;background-color: rgb(17, 7, 7);border-radius: 20px;width: 100%;margin:auto;display:flex;flex-direction:column;}
    .sliderDuo{width: 100%;}
    .blockTitre-duo{margin-top:0px;}
    #terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 450px}
    .video{width: 100%;background-size: cover;}

}*/
@media all and (min-width:416px) and (max-width:550px){
    .fond-accueil{height: 320px;}
    .navbar-toggler img{width: 80px;}
    #navbarContent{width: 100%;background-color: rgb(17, 7, 7);}
    .menu{margin-top: 10px;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:60% ;margin:auto;height: 110px;}
    .info h1{padding-top: 20px;}
    .titre{text-align: center;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 350px;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 300px}*/
    .video{width: 100%;background-size: cover;}
    .libelle{margin-left: 0px;}
    .prix1{width: 25%;}
    .prix2{width: 25%;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .titre-duo{width: 100%;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 360px;}
    .taille2, .taille1{margin-left: 5px;text-align: right;font-size: 1em;}
    .ligneTitre{margin:0px;width:360px;flex-direction: row;}
    .ligneTexte{margin:0px;width: 360px;}
    .nom h2{font-size: 1.2em;}
    .prix1, .prix2{font-size: 1em;}
    .banniere{height: 350px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 350px;display: flex;flex-direction: row;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 180px;height: 120px;padding-top: 30px;}
    .text-footer p{color:white;margin-top: 10px;padding-bottom: 5px;}
}
@media all and (min-width:568px) and (max-width:641px){
    .fond-accueil{height: 380px;}
    #logo{background-color: rgb(17, 7, 7);}
    #logo img{padding-right: 10px;}
    .navbar-toggler img{width: 80px;}
    .burger{background-color: rgb(17, 7, 7);}
    #navbarContent{width: 100%;background-color: rgb(17, 7, 7);}
    .menu,.menu2{margin-top: 0px;margin-bottom:0px;background-size: cover;}
    .menu{margin-top: 5px;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:80% ;margin:auto;height: 90px;}
    .info h1{padding-top: 20px;}
    .titre{text-align: center;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 360px;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    .libelle{margin-left: 0px;}
    .prix1{width: 25%;}
    .prix2{width: 25%;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .titre-duo{width: 100%;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 480px;}
    .taille2, .taille1{margin-left: 5px;text-align: right;font-size: 1em;}
    .ligneTitre{margin:0px;width:480px;flex-direction: row;}
    .ligneTexte{margin:0px;width: 480px;}
    .nom h2{font-size: 1.2em;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 305px; padding-left: 0px !important;}*/
    .video{width: 80%;background-size: cover;}
    .message{width: 500px;margin:5px auto 5px;}
    .ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;}
    .ascenseur{padding-bottom: 5px;}
    .prix1, .prix2{font-size: 1em;text-align: right;}
    .banniere{height: 400px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 300px;display: flex;flex-direction: row;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 220px;height: 180px;padding-top: 30px;}
    .text-footer p{color:white;margin-top: 10px;padding-bottom: 5px;font-size: 1.5em;}
}
@media all and (min-width: 642px) and (max-width:655px){
    .fond-accueil{height: 380px;}
    #logo{background-color: rgb(17, 7, 7);}
    #logo img{width: 150px;padding-right: 10px;}
    .navbar-toggler img{width: 80px;}
    .nav-link, #produits{color:white;font-size: 1.2em;font-weight: bold;font-family: 'courgette';}
    #produits{margin-left: 15px;}
    .burger{background-color: rgb(17, 7, 7)}
    #navbarContent{width: 100%;background-color: rgb(17, 7, 7)}
    .nav-item, .dropdown.nav-item, .nav-item-active{font-size: 1.3em;font-weight: bold;font-family: 'courgette';}
    .dropdown-menu{width: 290px;}
    #item{font-size: 1.2em;font-weight: bold;margin-bottom: 10px;}
    .menu,.menu2{margin-top: 0px;margin-bottom:0px;}
    .carte, .carte2{font-size: 1.5em;}
    .menu{margin-top: 5px;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:85% ;margin:auto;height: 80px;}
    .info h1{padding-top: 20px;}
    .info p{font-size: 1.5em;}
    .infoFromage p{font-size: 1.5em;}
    .bouton-appel{font-size: 1.5em;}
    .titre{text-align: center;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 460px;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    .ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;font-size: 2em;}
    .ascenseur{padding-bottom: 5px;}
    .libelle{margin-left: 0px;}
    .prix1{width: 25%;}
    .prix2{width: 25%;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .titre-duo{width: 100%;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 480px;padding-top: 5px;}
    .taille2, .taille1{margin-left: 5px;text-align: right;font-size: 1em;}
    .ligneTitre{margin:0px;width:480px;flex-direction: row;}
    .ligneTexte{margin:0px;width: 480px;}
    .nom h2{font-size: 1.2em;}
    .prix1, .prix2{font-size: 1em;text-align: right;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 375px}*/
    .video{width: 100%;background-size: cover;}
    .banniere{height: 400px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 300px;display: flex;flex-direction: row;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 220px;height: 180px;padding-top: 30px;}
    .text-footer p{color:white;margin-top: 10px;padding-bottom: 5px;font-size: 1.5em;}
}
@media all and (min-width:665px) and (max-width:769px){
    .fond-accueil{height: 420px;}
    #logo img{width: 150px;padding-right: 10px;}
    .navbar-toggler img{width: 80px;}
    .nav-link, #produits{color:white;font-size: 1.2em;font-weight: bold;font-family: 'courgette';}
    #produits{margin-left: 15px;}
    #navbarContent{width: 100%;background-color: rgb(17, 7, 7);}
    .nav-item, .dropdown.nav-item, .nav-item-active{font-size: 1.2em;font-weight: bold;font-family: 'courgette';}
    .dropdown-menu{width: 290px;}
    #item{font-size: 1.2em;font-weight: bold;margin-bottom: 10px;}
    .menu, .menu2{margin-top: 0px;}
    .menu{margin-top: 5px;padding-bottom: 20px;}
    .carte, .carte2{font-size: 1.5em;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:80% ;margin:auto;height: 85px;}
    .info h1{padding-top: 20px;}
    .info p{font-size: 1.5em;}
    .infoFromage p{font-size: 1.5em;}
    .bouton-appel{font-size: 1.5em;}
    .titre{text-align: center;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 460px;}
    #bambino{width: 100%;}
    #bambino h2{font-size: 1.2em;}
    .libelle{margin-left: 0px;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 385px}*/
    .video{width: 100%;background-size: cover;}
    #bouton.ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;font-size: 2em;}
    .ascenseur{padding-bottom: 5px;height: 80px;}
    .image{width: 630px;}
    .prix1, .prix2{width: 28%;margin-left: 20px;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    .titre-duo{width: 100%;}
    .tailles{display:flex;flex-direction: row;justify-content:flex-end;width: 480px;margin-left: 30px;}
    .taille2, .taille1{margin-left: 15px;text-align: right;font-size: 1em;}
    .ligneTitre{margin:0px;width:480px;flex-direction: row;}
    .ligneTexte{margin:0px;width: 520px;}
    .nom h2{font-size: 1.2em;}
    .prix1, .prix2{font-size: 1em;text-align: right;}
    .banniere{height: 400px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 300px;display: flex;flex-direction: row;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 220px;height: 180px;padding-top: 30px;}
    .text-footer p{color:white;margin-top: 10px;padding-bottom: 5px;font-size: 1.5em;}
}
@media all and (min-width:780px) and (max-width:825px){
    .fond-accueil{height: 500px;}
    #logo img{width: 150px;padding-right: 10px;}
    .navbar-toggler img{width: 80px;}
    #item{font-size: 1.2em;font-weight: bold;margin-bottom: 10px;}
    .burger{background-color: rgb(17, 7, 7);}
    .nav-link, #produits{color:white;font-size: 1.2em;font-weight: bold;font-family: 'courgette';}
    #navbarContent{width: 100%;background-color: rgb(17, 7, 7);}
    .nav-item, .dropdown.nav-item, .nav-item-active{font-size: 1em;font-weight: bold;font-family: 'courgette';}
    .dropdown-menu{width: 290px;}
    .titre-duo{width: 100%;}
    .menu{margin-top: 5px;padding-bottom: 20px;}
    .info p{font-size: 1.3em;}
    .info h1{padding-top: 5px;}
    .prix4{color:rgb(242, 204, 19);margin-left: 60px;font-weight: bold;text-align:right;font-size: 1.2em;}
    #terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 375px}
    .video{width: 100%;background-size: cover;}
    #bouton.ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;font-size: 2.5em;}
    .ascenseur{padding-bottom: 5px;height: 80px;}
    .image{width: 650px;}
    .banniere{height: 400px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 300px;display: flex;flex-direction: row;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 220px;height: 180px;padding-top: 30px;}
    .text-footer p{color:white;margin-top: 10px;padding-bottom: 5px;font-size: 1.5em;}
}
@media all and (min-width:900px) and (max-width:1025px){
    .fond-accueil{width: 100%;height: 500px;background-size: cover;}
    #logo{width: 40%;}
    .burger{width: 60%;text-align: left;background-color: rgb(17, 7, 7);opacity: 0.8;}
    .nav-link, #produits{color:white;font-size: 1.2em;font-weight: bold;font-family: 'courgette';}
    #produits{margin-left: 15px;}
    .nav-item, .dropdown.nav-item, .nav-item-active{font-size: 1.2em;font-weight: bold;font-family: 'courgette';}
    .dropdown-menu{width: 290px;}
    #item{font-size: 1.7em;font-weight: bold;margin-bottom: 10px;}
    .menu{margin-top: 5px;padding-bottom: 20px;}
    .carte{font-size: 1.7em;}
    .trait{background-color:black;width: 60%;height: 5px;margin:auto;margin-top: 5px;margin-bottom: 5px;}
    .info{width:80% ;margin:auto;height: 80px;}
    .info p{font-size: 1.5em;}
    .info h1{padding-top: 20px;}
    .blockTitre-duo{color:white; margin-top: 50px;font-weight: bold;padding-top: 10px;text-align: center;}
    .block-duo{background-color: rgb(17, 7, 7);border-radius: 20px;width: 90%;margin:auto;display:flex;flex-direction: row;justify-content: space-around;}
    .blockligneDuo{display: flex;flex-direction: column;width: 100%;}
    .sliderDuo{width: 50%;}
    .sliderDuo img{border-radius: 10px;}
    .prix4{color:rgb(242, 204, 19);margin-left: 30px;font-weight: bold;text-align:right;font-size: 1.2em;}
    #bouton.ascenseur p{width: 80px;  height: 80px;border:3px solid white;border-radius: 50%;margin-left: 75%;font-size: 2.5em;}
    .ascenseur{padding-bottom: 5px;height: 80px;}
    /*#terrasse{background-color:rgb(17, 7, 7);text-align: center;height: 475px}*/
    .video{width: 100%;background-size: cover;}
    .titre img{margin-top: 10px;border-radius: 20px;width: 700px;height: 95px;}
    .infoFromage p{font-size: 1.5em;}
    .bouton-appel{font-size: 1.5em;}
    .banniere{height: 380px;margin-top:5px;background-color:rgb(17, 7, 7);}
    .footer{height: 300px;display: flex;flex-direction: row;align-items: center;justify-content: center;padding-top: 10px;}
    .img-footer img{width: 220px;height: 180px;padding-top: 30px;}
    .text-footer p{color:white;margin-top: 10px;padding-bottom: 5px;font-size: 1.5em;}
}
@media all and (min-width:1026px) and (max-width:1359px){
    .fond-accueil{background:url('../images/coliseeRetouché.jpg');width: 100%;height: 700px;background-size: cover;}
    .titre-duo{width: 60%;margin:auto;} .info h1{padding-top: 10px;}
 
    
}

@media all and (min-width:1849px) and (max-width:2198px){

    .video{width: 100%;background-size: cover;}
}



